
body {
    margin: 40px;
}

.box {
    background-color: lightgrey;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.NORTH {
    background-image: url("./images/turtle-north.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.wrapper {
    width: 600px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
    grid-auto-flow: column;
}

.EAST {
    -moz-transform: rotate(90deg) ;
    -webkit-transform: rotate(90deg) ;
    -o-transform: rotate(90deg) ;
    -ms-transform: rotate(90deg) ;
    transform: rotate(90deg) ;
    background-image: url("./images/turtle-north.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.WEST {
    -moz-transform: rotate(270deg) ;
    -webkit-transform: rotate(270deg) ;
    -o-transform: rotate(270deg) ;
    -ms-transform: rotate(270deg) ;
    transform: rotate(270deg) ;
    background-image: url("./images/turtle-north.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.SOUTH {
    -moz-transform: rotate(180deg) ;
    -webkit-transform: rotate(180deg) ;
    -o-transform: rotate(180deg) ;
    -ms-transform: rotate(180deg) ;
    transform: rotate(180deg) ;
    background-image: url("./images/turtle-north.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
}


input[type=text] {
    width: 20%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 12px cadetblue;
    color: black;
    box-shadow: 0 0 3px cadetblue; margin: 10px
}

.but
{
    width: 8%;
    height: 45px;
}

.space
{
    padding: 10px 10px;
}

div.box:hover {
    background-color: darkgray;
}
